
<div class="topnav">
  <!-- Navigation links (hidden by default) -->
  <a class="icon" onclick="navMenu()">
    <i class="fa fa-bars"></i>
  </a>
  <div id="myLinks">
    <a href="/" ><h4>home</h4></a>
    <a href="" ><h4>Recipe-Box</h4></a>
    <a href="" ><h4>About</h4></a>
    <a href="" ><h4>contact</h4></a>
  </div>
</div>