<section class="header-content">
  <img class="logo" src="../assets/logos/right/tdk_logo_right_250.png">
  <h1 class="header-title">The Dragons Kitchen</h1>
  <div class="user-block">
    <% if (userStatus === 'Logged in'){ %>
     <h5 class="user-name">Welcome back</h5>
     <p><%= userInfo.display_name%></p>
     
    <% }else{ %>
      <h5 class="user-name">Welcome To TDK</h5>
      <p>New Adventurer</p>
    <% } %>

  </div>

</section>
<section class="nav-bar">
  <div class="top-nav">
    <!-- Navigation links (hidden by default) -->
    <a class="icon" onclick="navMenu()"><img class="menu_icon" src="../assets/icons/day/menu_claws1_daymode.png"></a>
    <ul id="myLinks" class="dropdown-nav">
      <li><img class="menu-icon" src="../assets/icons/day/home_cave_daymode.png"><a href="/" ><h6>home</h6></a></li>
      <li><img class="menu-icon" src="../assets/icons/day/about_sign_daymode.png"><a href="/about" ><h6>About</h6></a></li>
      <li><img class="menu-icon" src="../assets/icons/day/contact_quill_daymode.png"><a href="" ><h6>contact</h6></a></li>
    </ul>
  </div>
  <% if (userStatus === 'Logged in'){ %>
  <div class="user-nav" >
    <a class="icon" onclick="userMenu()"><img class="user_menu_icon" src="<%=userInfo.user_image%>" class="user-nav-image"></a>
    <ul id="navLinks" class="dropdown-nav">
      <li><img class="menu-icon" src="../assets/icons/day/user_menu_daymode.png"><a href="/profile"><h6>Profile</h6></a></li>
      <li><img class="menu-icon" src="../assets/icons/day/recipe_chest_daymode.png"><a href="/recipeBox"><h6>Recipe-Box</h6></a></li>
      <li><% if (userStatus === 'Logged in'){ %>
        <img class="menu-icon" src="../assets/icons/day/logout_handle_daymode.png"><a href="/logout"><h6>log Out</h6></a>
    <% }else{ %>
        <img class="menu-icon" src="../assets/icons/day/login_key_daymode.png"><a href="/login"><h6>login</h6></a>
    <% } %></li>
    </ul>
  </div>
  <% }else{ %>
    <a href="/login"><img class="user_menu_icon" src="../assets/icons/day/login_key_daymode.png"></a> 
  <% } %>
  
</section>
