<section class="header-content">
  <img class="logo" src="../assets/logos/right/tdk_logo_right_250.png">
  <h1 class="header-title">The Dragons Kitchen</h1>
 <div class="user-block">
    <% if (userStatus === 'Logged in'){ %>
     <h5 class="user-name">Welcome back</h5>
     <p><%= userInfo.display_name%></p>
     
    <% }else{ %>
      <h5 class="user-name">Welcome To TDK</h5>
      <p>New Adventurer</p>
    <% } %>

  </div>

</section>

