<li id="ingredient-item">
  <input type="number" name="ingredient_amount" placeholder="1"></input>

  <!--TODO(#):Jqery loop over array of ingredient_unit options to create dropdown list -->
  <select name="ingredient_unit" id="ingredient-measure" placeholder="Select a type">
    <option value="cup">Cup</option>
    <option value="Tbsp">Tablespoon(Tbsp)</option>
  </select>
  <input type="text" name="ingredient_name" placeholder="ingredient"></input>
  <input type="textbox" name="ingredient_prep" placeholder="Prep Notes"></input>
</li>