
<nav>
  <ul id="myLinks" class="dropdown-nav">
    <li><img class="menu-icon" src="../assets/icons/day/home_cave_daymode.png"><a href="/" ><h5>home</h5></a></li>
    <li><img class="menu-icon" src="../assets/icons/day/about_sign_daymode.png"><a href="/about" ><h5>About</h5></a></li>
    <li><img class="menu-icon" src="../assets/icons/day/contact_quill_daymode.png"><a href="" ><h5>contact</h5></a></li>
  </ul>
</nav>