
<nav>
  <ul>
    <li><a href="/" ><h4>Home</h4></a></li>
    <li><a href="" ><h4>Recipe-Box</h4></a></li>
    <li><a href="" ><h4>About</h4></a></li>
    <li><a href="" ><h4>contact</h4></a></li>
  </ul>
</nav>