<div class="result-card">
  <div class="result-card-header">
    <img class="result-icon" src="../../assets/icons/day/myrecipe_scroll_daymode.png">
    <h4 class="result-name"><% result.title %></h4>
  </div>
  <div class="result-card-info">
    <img class="result-image" src="<%= result.image %>">
    <article class="card-info">
      <ul>
        <li>vegitarian:</li>
        <li>vegan:</li>
        <li>servings:</li>
      </ul>

      <a class="card-info-btn" href="/recipeDetails/:<%= result.spoon_id %>"><button id="result-details">Inspect Recipe Details</button></a>
    </article>
  </div>
</div>