<div class="user-nav">
  <a class="icon" onclick="userMenu()"><i class="fas fa-user-circle"></i></a>
  <div id="navLinks">
    <a href="/profile"><h4>Profile</h4></a>
    <a href="/recipeBox"><h4>My Recipies</h4></a>
    <a href=""><h4>spotify Login</h4></a>
    <a href="/login"><h4>login</h4></a>
    <a href="/logout"><h4>log Out</h4></a>
  </div>
</div> 