<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 Error Splash</title>
    <%- include('partials/head.ejs')%>
  </head>
  <body>
    <header class="header">
        <%- include('partials/header.ejs') %>
    </header>
    <div class="top-push"></div>
  <div class="content">
      <main>
      <h4>You seem to be lost, dragon friend</h4>
      <p>somehow you have mananged to end up at a dead end cave please redirect and try again. if you feel you shouldtn have reached this page then please subnit a comment on the contact page.</p>
    </main>
  </div>
  <div class="push"></div>
  <footer>
    <div class="footer-box">
      <%- include('partials/navigation.ejs') %>
    </div>
  </footer>
  <script src="../js/nav.js"></script>
  </body>
</html>