<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 Error Splash</title>
  </head>
  <body>
    <header>
      <h1>Hello We are 404 Broken dragons</h1>

    </header>
    <main>
      <h4>well something went wrong!</h4>
      <p>you ended up some where weird use the link above to find your way back if you are a deve the error should print below</p>

      <ul>
        <li>Error 404:<%- error %></li>
        <li>Error Message: <%- error_Msg %></li>
      </ul>
    </main>
  </body>
</html>