<!DOCTYPE html>
<html lang="en">
  <head>
    <title>500 Error Splash</title>
  </head>
  <body>
    <header>
      <h1>Hello We are 500 Broken dragons</h1>

    </header>
    <main>
      <h3>Whelp we have Broken something</h3>
      <p>you have ended up in a hole of our making here is a ladder and we hope you dont find to many more of these!</p>

        <h5>Error500:</h5><p><%= error %></p>
        <h5>Error Message:</h5><p><%= error_Msg %></p>
      </ul>
    </main>
  </body>
</html>