<!DOCTYPE html>
<html>

  <head>
    <title>TDK:The Dragons Kitchen</title>
    <%- include('partials/head.ejs')%>
  </head>
    
  <body>
    <header class="header">
      <div class="header-content">
        <img class="logo" src="../assets/logos/right/tdk_logo_right_250.png">
        <h1 class="header-title">The Dragons Kitchen</h1>
      </div>
      <div class="nav-bar">
        <%- include('partials/header.ejs') %>
      </div>
    </header>
    <div class="top-push"></div>
  <div class="content">
      <main>
        <section id="first-row">
          <div class="welcome">
            <h3>Welcome to the Dragon's Kitchen</h3>
            <p>This is a tool for creatures of all walks to create and build fantastic feasts for them and theirs. there is a simple toutorial of our app below when your ready create an account and join the Dragons in the Kitchen.</p>
          </div>
          <!-- only apears if loged out -->
          <div class="join-login">
            <a href="/join"><button>Come Join The Dragons In the Kitchen</button></a>
          </div>
        </section>
<!-- make only aper if loged in -->
        <section id="searchbar">
          <form action="/searchRecipies" method="POST">
            <feildset>
              <label for="search-recipes">Hunt for Recipies:</label>
              <input type="text" id="search-recipes" name="content" placeholder="Search for a Recipe" default="lamb"></input>
              <label for="search-select">Hunt by:</label>
                <select name="type" id="search-select" placeholder="Select a type">
                  <option value="query">Recipe</option>
                  <option value="cuisine">Cuisine</option>
                </select>
              <label for="result-count">Return with:</label>
              <input type="number" id="result-count" name="count" default="2" min="2" max="25">
            </feildset>
            <button type="submit">search</button>
          </form>
        </section>
        <section>
          <div class="slideshow-container">
            <div class="homeSlide fade">
              <h6 class="slide-count">1 / 3</h6>
              <img class="slide-image" src="../assets/test1.jpg" style="width:100%">
              <h6 class="slide-caption">Caption goes here</h6>
            </div>
            <div class="homeSlide fade">
              <h6 class="slide-count">2 / 3</h6>
              <img class="slide-image" src="../assets/test2.jpg" style="width:100%">
              <h6 class="slide-caption">Caption goes here</h6>
            </div>
            <div class="homeSlide fade">
              <h6 class="slide-count">3 / 3</h6>
              <img class="slide-image" src="../assets/test3.jpg" style="width:100%">
              <h6 class="slide-caption">Caption goes here</h6>
            </div>
          </div>
        </section>
      </main>
    </div>
    <div class="push"></div>
    <footer>
      <div class="footer-box">
        <%- include('partials/navigation.ejs') %>
      </div>
    </footer>
    <script src="../js/slideshow.js"></script>
    <script src="../js/nav.js"></script>
  
  </body>
</html>