<!DOCTYPE html>
<html>

  <head>
    <title>TDK:The Dragons Kitchen</title>
    <%- include('partials/head.ejs')%>
  </head>
    
  <body>

    <header>
      <div class="user-menu">
      <a href=""><i class="fas fa-user-circle"></i></a> 
    </div>
    <article>
      <h1>TDK: The Dragons Kitchen</h1>
    </article>
    <div class="navigation-menu">
      <!-- get icons from font awesome -->
      <a href=""><img src="" alt=""></a>
    </div>
    </header>
    <body>

    </body>

    <footer>
      
    </footer>

  </body>

</html>