<!DOCTYPE html>
<html>

  <head>
    <title>TDK:The Dragons Kitchen</title>
    <%- include('partials/head.ejs')%>
  </head>
    <div class="user-menu">
      <a href=""><i class="fas fa-user-circle"></i></a> 
    </div>
    <article>
      <h1>TDK: The Dragons Kitchen</h1>
      <h3>A cozy cave is made by the well equiped kitchen!</h3>
    </article>
    <div class="navigation-menu">
      <!-- get icons from font awesome -->
      <a href=""><img src="" alt=""></a>
    </div>
  <body>

    <header>
      
    </header>

    <body>

    </body>

    <footer>
      
    </footer>

  </body>

</html>