*{
  box-sizing: border-box;
}
.top-push{
  height:160px;
}
body{
  margin: auto;
  width: 88%;
  z-index: 8;
}
header{
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  z-index: 9;
}
.content {
  min-height: 100%;
  margin-bottom: -45px;
}
.push {
  height: 80px;
}
footer {
  position: fixed;
  left: 25%;
  bottom: 0;
}
