/* MOBILE */

/* dragons body flexing and general */
#footer-box, #action-row, .tdk-recomends, .searchbar form, .result-card-header,.result-card-info,{
  display:flex;
  justify-content: center;
  align-items: center;
}
.card-info, .tdk-recomends, #result-details, .result-card,.recipe-card-info, .recipe-image, .recipe-title, .recipebox-list, .profile-intro{
  margin: 5px auto;
  padding: 3px;
}
#user-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
  padding: 5px;
  width: 80%
}
.profile-intro{
  width: 90%
}
.header-title{
  width:70%;
}
.logo{
  height: 115px;
 }
.header-content{
  display:flex;
  width: 100%;
  height: 125px;
  align-items: center;
  z-index: 9;
}
main{
  padding-top: 5px;
  margin-bottom:5px;
}
footer{
  width: 50%;
  height:35px;
}
#footer-box{
  height: 45px;
  width: 100%;
}profile-imagearchbar{
  width: 75%;
  margin: 10px;
  padding: 3.5px;
}
.searchbar form{
  padding: 5px;
}
.search-full{
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  border: 3px black ridge;
}
.search-main {
}

#recomends{
  margin:10px auto;
  width:95%;
}
.recomend-box{
  margin:2.25px;
  padding: 2.125px;
}
/* Results short cards for searches */
#results ,.recipebox-list{
  width: 80%;
}
#results-blerb{
  width: 95%;
  margin: 2px auto;
}
.result-card{
  width:100%;
}
.result-icon{
  margin: 5px;
  width: 25px;
}
.result-image{
  margin:5px;
  width: 40%;
}
.card-info{
  width: 50%;
}
.card-info-btn{
 float: right;
}
/* Recipe details card for reading recipes*/
.recipe-title{
  width: 80%;
}
.recipe-image{
  margin: 5px auto;
  width: 90%;
}
.recipe-card-ingredients{
  width: 45%;
}

/* user profile */

.profile-image{
  width: 25%;
}
.user-id{
  width :55%;
}