/*Hamburger menu nav*/
.topnav, .user-nav {
  overflow: hidden;
  position: relative;
}
.topnav #myLinks, .user-nav #navLinks{
  display: none;
}
.dropdown-nav{
  background-color:rgba(5, 107, 12);

}