
/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.homeSlide {
  display: none;
}

/* Caption text */
.slide-caption {
  color: #5B0B0B;
  position: absolute;
  bottom: 8px;
  width: 80%;
  text-align: center;
}

/* Number text (1/3 etc) */
.slide-count {
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}