
/* Slideshow*/
.slideshow-container {
  max-width: 85%;
  position: relative;
  margin: auto;
}
.homeSlide {
  display: none;
}
.slide-caption {
  position: absolute;
  bottom: 8px;
  width: 80%;
  text-align: center;
}
.slide-count {
  position: absolute;
  top: 0;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Hamburger menu nav*/
.topnav, .user-nav {
  overflow: hidden;
  position: relative;
}
.top-nav #myLinks, .user-nav #navLinks{
  display: none;
  margin:5px;
}
.user-nav .icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.nav-bar{
  display:flex;
  justify-content: space-between;
}
.top-nav{
  display: flex;
  float:left
}
.top-nav ul{
  height: 40px;
}
.menu-icon{
  width: 25px;
  height: 25px;
  margin: 3px;
}
.dropdown-nav li{
  display: flex;
  margin:5px;
  border-radius: 75%;
}
.menu_icon{
  padding: 2.25px;
  border-radius: 75%;
  width: 45%;
  margin:5px;
}
.user_menu_icon{
  padding: 2.25px;
  border-radius: 75%;
  width: 15%;
  margin:5px;
  float: right;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}