<!DOCTYPE html>
<html>
  <head>
    <title>TDK:New recipe</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <img class="logo" src="../assets/logos/right/tdk_logo_right_250.png">
        <h1 class="header-title">New TDK Recipe</h1>
      </div>
      <div class="nav-bar">
        <%- include('partials/header.ejs') %>
      </div>
    </header>
    <div class="top-push"></div>
  <div class="content">
      <main>
      <section>
        <div id="recipe-save-form">
          <form action="/newRecipe" method="POST">
            <fieldset id="add-details">
              image url
              <input type="text" name="image" placeholder="image"></input>
              title
              <input type="text" name="title" placeholder="title"></input>
              servings
              <input type="number" name="servings" placeholder="4"></input>
              prep time in min
              <input type="number" name="prep_time" placeholder="Prep Time in">Min</input>
              cook time in min
              <input type="number" name="cook_time" placeholder="Cook Time in">Min</input>
              <label for='vegetarian-box'>vegetarian</label>
              <input type="checkbox" id= "vegetarian-box" name="vegetarian" ></input>
              <label for='vegan-box'>vegan</label>
              <input type="checkbox" name="vegan" id="vegan-box"></input>
              source url
              <input type="url" name="source_url" placeholder="https://recipesource.com" ></input>
              source name
              <input type="text" name="source_name" placeholder="source Name" ></input>
              ingredients
              <ol>
                <% for(let i = 1; i <= lineCount ; i++ ){ %>
                  <%- include('../../partials/ingredient-form.ejs') %>
                <% } %>
                <a href=""><li>add more ingredients</li></a>
              </ol>
              directions

              <ol>
                <% for(let i = 1; i <= instructionsLineCount ; i++ ){ %>
                  <li><input type="text" name="instructions" placeholder="Step by step instructions"></input></li>
                <% } %>
              </ol>
              
              
            </fieldset>
            <input type="submit" value="Save this recipe">

          </form>

        </div>
      </section>

    </main>
  </div>
  <div class="push"></div>
  <footer>
    <div class="footer-box">
      <%- include('partials/navigation.ejs') %>
    </div>
  </footer>
    <script src="../../js/nav.js"></script>
    <script src="../../js/recipe-form.js"></script>
  </body>
</html>