<!DOCTYPE html>
<html>
  <head>
    <title>TDK: About Us</title>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <img class="logo" src="../assets/logos/right/tdk_logo_right_250.png">
        <h1 class="header-title">The Dragons Kitchen</h1>
      </div>
      <div class="nav-bar">
        <%- include('../partials/header.ejs') %>
      </div>
    </header>
    <div class="top-push"></div>
  <div class="content">
      <main>
      <article>
        <h2>The Dragons In The Kitchen</h2>
        <p> These are the people who are putting the time in behind the scenes of this kitchen. The builders the designers the artists ect. Follow them tell people about them find them on your preferd social media location support our team please.</p>
      </article>
      <section class="about-cards">
        <div class="creator-dragon">
          <h3 class="dragon-title">Project Designer/Developer</h3>
          <h3 class="dragon-name">Matt Ravenmoore</h3>
          <p class="dragon-bio">Greetings and salutatiouns, creatures call me Ravenmoore, i am the designer and main driving force behind TDK i am backed by a wonderfull team of friends and collegues that have helped bring TDK to life. I am a developer just getting in to technology, I find that I am drawn to the challenges of learning new things and better ways of doing things that code provides. I am looking forward to Codefellows 401 JS class in December and I am having fun getting ready with this project. </p>
          <a href=""><img class="dragon-image" src="dragon-MR.png"alt="Photo of Matt Ravenmoore"/></a>
        </div>
        <div class="creator-dragon">
          <h3 class="dragon-title">Graphic Designer</h3>
          <h3 class="dragon-name">Jeremy Odden</h3>
          <p class="dragon-bio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur asperiores magnam tenetur molestias tempore earum delectus quod, deserunt doloremque explicabo vel aliquid ad suscipit fuga hic? Nam, ipsa dolore? Culpa!  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dicta nisi repellat, libe.</p>
          <a href="https://www.linkedin.com/in/matt-ravenmoore/"><img class="dragon-image" src="dragon-JO.png"alt="Photo of Jeremy Odden"/></a>
        </div>
      </section>

    </main>
  </div>
  <div class="push"></div>
  <footer>
    <div class="footer-box">
      <%- include('../partials/navigation.ejs') %>
    </div>
  </footer>

    <script src="../js/nav.js"></script>
  </body>
</html>