{"given_name":"Muninn","family_name":"Ravenmoore","nickname":"captain.ravenmoore","name":"Muninn Ravenmoore","picture":"https://lh3.googleusercontent.com/a-/AOh14GhZzW1xXmy2KnOMS-B3yHZcQlLhuaKy6CT3aS7Q=s96-c","locale":"en","updated_at":"2020-10-14T04:58:58.041Z","email":"captain.ravenmoore@gmail.com","email_verified":true,"sub":"google-oauth2|117459473932843288865"}

<li><img class="menu-icon" src="../assets/icons/day/spotify_daymode.png"><a href=""><h6>Spotify</h6></a></li>